

body {
  width: 100%;
}

p {
  font-size: 16px;
}
.header {
  background-color: blue;
  height: 100px;
  display:flex;
  flex-direction: row;
  
  
}

.nameHeading {
  padding-top: 10px;
  color: white;
  display: flex;
  width: 50%;
  padding-left: 20px;
}

.nav {
  width: 100%;
  background-color: darkgray;
  padding-left: 20px;
}
.profile-pic {
  padding-top: 10px;
  max-height : 125px;
}

.aboutMe {
  padding-left: 20px;
}
.about-content {
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projectList {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.previewImg {
  max-height: 200px;
}
.footer {
  width: "100%";
  background-color: darkgray;
  height: 200px;
  text-align: left;
  padding-left: 20px;

}

.footer p {
  font-size: 14px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 150px;
  }

}